*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292524;
    color: #fafaf9;
    font-family: 'Sono', sans-serif;
    padding: 40px;
}

h1 {
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Coiny', sans-serif;
    color: #fafaf9;
}

.fact-form {
    background-color: #44403c;
    margin-bottom: 40px;
    padding: 16px 40px;
}

.fact {
    font-size: 20px;
    line-height: 1.4;
    color: #fafaf9;
    background-color: #44403c;
    margin-bottom: 16px;
}

.tag {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Coiny', sans-serif;
    color: #fafaf9;
}

ul {
    list-style: none;
}